.results {
	
	.h1 {
		@include jump-responsive(margin-bottom, .5);
	}
	
	li:not(:last-child) {
		@include jump-responsive(margin-bottom, 1);
	}

	/*
	.player {
		&.is--winner {
			.player-photo {
				&:after {
					color: $win;
				}
			}
		}

		&.is--loser {
			.player-photo {
				&:after {
					color: $loss;
				}
			}
		}
	}
	*/

}