/*
Animations looked rubbish

@keyframes floatUp {
	from {
		transform: translateY(-50%);
	}

	to {
		transform: translateY(-60%);
	}
}

@keyframes floatDown {
	from {
		transform: translateY(-50%);
	}

	to {
		transform: translateY(-40%);
	}
}

*/