.g1 {
	@include clearfix;
	
	> * {
		float: left; width: percentage(1/3);
	}
}

.g2 {
	@include clearfix;
	
	> [class^="col"] {
		width: percentage(49/100);
	}
	
	> .col1 {
		float: left;
	}
	
	> .col2 {
		float: right;
	}
	
	@media (min-width: 360px) {
		> [class^="col"] {
			width: percentage(155/336);
		}
	}
}

.g3 {
	@include clearfix;
	font-size: 0;

	> .col1, > .col2 {
		@include inline-middle;
	}
		
	> .col3 {
		@include absolute-centre-y; right: 0;
	}
}