.results {
	padding: $jump 13px;
	
	.h1 {
		@include jump-responsive(margin-bottom, .5);
	}
	
	li:not(:last-child) {
		@include jump-responsive(margin-bottom, 1);
	}
}

.result {
	position: relative;
	display: block;
	
	$padding-from-centre: 34px;
	$player-photo-width: 75px;
	
	.player-photo {
		$width: $player-photo-width;
		width: $width; height: $width*1.133; margin: 0 auto;
	}
	
	.difference {
		position: absolute; top: 50%;
		transform: translateY(-50%);
	}
	
	.position-triangle {
		@include absolute-centre-y;
		width: calc(100% - #{$player-photo-width} - #{$padding-from-centre}); height: 16px;
		text-align: center;
		
		svg {
			display: inline-block;
			
			polygon {
				fill-opacity: .2;
			}
		}
	}
	
	.player {
		position: relative;
		
		&.--a {
			padding-right: $padding-from-centre;
			
			.player-photo {
				float: right;
			}
			
			.difference {
				right: 0;
				border-radius: 0 6px 6px 6px;
			}
			
			.position-triangle {
				left: 0;
			}
		}
		
		&.--b {
			padding-left: $padding-from-centre;
			
			.player-photo {
				float: left;
			}
			
			.difference {
				left: 0;
				border-radius: 6px 0 6px 6px;
			}
			
			.position-triangle {
				right: 0;
			}
		}
		
		&.--winner {
			.player-photo {
				#border {
					fill: $win;
				}
			}
			
			.position-triangle {
				#triangleUp {
					fill: $win; fill-opacity: 1;
				}
			}
		}
		
		&.--loser {
			.player-photo {
				filter: grayscale(100%);

				#border {
					fill: $loss;
				}
			}
			
			.position-triangle {
				#triangleDown {
					fill: $loss; fill-opacity: 1;
				}
			}
		}
	}
	
	.meta {
		@include absolute-centre-x;
		line-height: 1;
		
		&.--top {
			top: 0;
		}
		
		&.--bottom {
			bottom: -3px;
		}
		
		&.--pending {
			color: $text;
		}
		
		&.--when {
			color: $oslo-gray; 
		}
	}
	
	.base {
		position: absolute; top: 50%; left: 0;
		width: 100%; height: 49px;
		background-color: $charade-2;
		transform: translateY(-50%); border-radius: 3px;
	}
	
	&.--pending {
		.base {
			background-color: $charade-4;
		}
		
		.player-photo {
			.photo {
				filter: grayscale(50%);
			}
		}
	}
}

.difference {
	z-index: 5;
	width: 37%; max-width: 52px;
	background: $default;
	font-weight: 500; font-size: 13px; line-height: 29px; color: $white; letter-spacing: 0.92px; text-shadow: 1px 1px 4px rgba(0,0,0,0.50); text-align: center;
	box-shadow: 0px 1px 2px 0px rgba(25,27,36,0.32);
	
	.--winner & {
		background-color: $win-dark; background-image: linear-gradient(135deg, #2FCC63 0%, rgba(46,204,98,0.00) 100%);
	}
	
	.--loser & {
		background-color: $loss;
	}
	
}