.prompt {
	@include fixed-top; z-index: 75;
	display: none; @include gutter;
	background: $kashmir-blue;
	line-height: 42px;

	&.is--prompted {
		display: block;
	}

	&.is--warning {
		background: #8C3F3C;
	}

	&.is--inline {
		position: static;
		padding-top: 10px; padding-bottom: 10px;
		line-height: 1.5;
		border-radius: 3px;
	}

}